name: Create Tag And Release
on:
  push:
    branches: [ "*" ]

jobs:
  release:
    if: ${{ startsWith(github.event.head_commit.message, 'release:') }}
    runs-on: ubuntu-latest
    env:
      COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
          token: ${{ secrets.PROJECT_TOKEN }}
      - name: Create new tag
        run: |
          echo "${{ env.COMMIT_MESSAGE }}"
          version=$(echo "${{ env.COMMIT_MESSAGE }}" | grep -oP 'Swift \K\d+\.\d+\.\d+')
          echo "release_version=$version" >> "$GITHUB_ENV"
          echo $version
          git config user.name '${{ vars.USER_NAME }}'
          git config user.email '${{ vars.USER_EMAIL }}'
          git tag v$version
          # git push origin v$version
      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          name: "Clickstream Swift ${{ env.release_version }}"
          tag_name: "${{ env.release_version }}"
          prerelease: true
          generate_release_notes: true